services:
  attendee-worker-local:
    build: ./
    volumes:
     - .:/attendee
    networks:
      - attendee_network
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_URL=redis://redis:6379/5
      - DJANGO_SETTINGS_MODULE=attendee.settings.development
      - ENABLE_CHROME_SANDBOX=true
    command: "celery -A attendee worker -l INFO"
    security_opt:
      - seccomp=./bots/web_bot_adapter/chrome_seccomp.json

  attendee-scheduler-local:
    build: ./
    volumes:
     - .:/attendee
    networks:
      - attendee_network
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_URL=redis://redis:6379/5
      - DJANGO_SETTINGS_MODULE=attendee.settings.development
    command: "python manage.py run_scheduler"
    entrypoint: []

  attendee-app-local:
    build: ./
    volumes:
     - .:/attendee
    networks:
      - attendee_network
    ports:
      - "8000:8000"
    environment:
      - POSTGRES_HOST=postgres
      - REDIS_URL=redis://redis:6379/5
      - DJANGO_SETTINGS_MODULE=attendee.settings.development
    command: python manage.py runserver 0.0.0.0:8000
    entrypoint: []

  attendee-webpage-streamer-local:
    build: ./
    volumes:
     - .:/attendee
    networks:
      - attendee_network
    ports:
      - "8001:8000"
    environment:
      - DJANGO_SETTINGS_MODULE=attendee.settings.development
      - ENABLE_CHROME_SANDBOX=true
    command: "python bots/webpage_streamer/run_webpage_streamer.py"
    security_opt:
      - seccomp=./bots/web_bot_adapter/chrome_seccomp.json
    profiles:
      - webpage-streamer


  postgres:
    image: postgres:15.3-alpine
    environment:
      POSTGRES_DB: attendee_development
      POSTGRES_USER: attendee_development_user
      POSTGRES_PASSWORD: attendee_development_user
      PGDATA: /data/postgres
    volumes:
       - postgres:/data/postgres
    networks:
      - attendee_network
    restart: unless-stopped


  redis:
    image: redis:7-alpine
    networks:
      - attendee_network
    restart: unless-stopped
    volumes:
      - redis:/data/redis

networks:
  attendee_network:
    driver: bridge

volumes:
  postgres:
  redis:
